{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Flower Shop Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
<link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Merriweather&family=Montserrat:wght@300;400;500;600;700;800;900&family=Sacramento&display=swap" rel="stylesheet">

</head>
<body>
     <!--header section-->
     <header>
        <a href="#" class="logo1">
            <img src="{% static "images/logo1.jpeg" %}" height="150px" width="200px">
        </a>
        
        <ul class="navbar">
            <li><a href="/cart">Home</a></li>
            <li><a href="/signup">Shop</a></li>
            <li><a href="#contact1">Contact us</a></li>
        </ul>

        <div class="h-icons">
            <a href="/signin"><i class='bx bxs-user-circle' " ></i></a>
            <!-- <a href="#"><i class='bx bxs-heart' ></i></a> 
            <a href="#"><i class='bx bxs-cart-add' id="cart-icon"></i></a> -->
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
     </header>

     <section class="home1" id="home1">
        <div class="home1-text">
            <h1>About Us </h1>
            <p>Having mastered the art of delivering gorgeous floral arrangements crafted from local and exotic blooms,
                 revel in unique designs from The Blooms. With a team of experienced florists,
                  enjoy the products of their artistic vision and be in awe of the beauty of these floral arrangements. 
                  Capable of conveying messages that you might otherwise find difficult to express through words,
                   be charmed by the versatility and sophistication of our colossal collection of flowers
                    that are available for delivery throughout Nepal.</p>
            <a href="/signin" class="btn1">let's get started</a>
        </div>
    </section>

     <!--contact section-->
     <section class="contact1" id="contact1">
        <div class="contact1-box">
            <h4>MY ACCOUNT</h4>
            <li><a href="#">My account</a></li>
            <li><a href="#">Checkout</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Shooping Cart</a></li>
            <li><a href="#">Wishlist</a></li>
        </div>

        <div class="contact1-box">
            <h4>QUICK LINKS</h4>
            <li><a href="#">Store Location</a></li>
            <li><a href="#">Orders Tracking</a></li>
            <li><a href="#">Size Guide</a></li>
            <li><a href="#">My account</a></li>
            <li><a href="#">FAQs</a></li>
        </div>

        <div class="contact1-box">
            <h4>INFORMATION</h4>
            <li><a href="#">Dudhpati, Bhaktapur</a></li>
            <li><a href="#">Phone:1234 5678</a></li>
            <li><a href="#">Email: bloom@gmail.com</a></li>
            <li><a href="#">Delivery Information</a></li>
            <li><a href="#">Terms and Conditions</a></li>
        </div>

        <div class="contact1-box">
            <h4>Blooms</h4>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook-square'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-snapchat'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>
    </section>

    <!--scroll-->
    <a href="#" class="scroll-top"><i class='bx bx-chevrons-up'></i></a>
    <div class="end-text1">
        <p>@ Melina Thapa. All Rights Reserved.</p>
    </div>
</body>
</html>


    